---
import Layout from '../layouts/Layout.astro';

const categories = [
  { id: 'all',       label: 'All' },
  { id: 'char',      label: 'Character' },
  { id: 'angel',     label: 'Angel' },
  { id: 'chaos',     label: 'Chaos' },
  { id: 'landscape', label: 'Landscape' },
  { id: 'jitsusya',  label: 'Photo' },
  { id: 'ipcd',      label: 'Commercial' },
];

// 新しい順
const works = [
  // 新作 (2026-07-02)
  { file: 'char_131',     cat: 'char' },
  { file: 'char_130',     cat: 'char' },
  { file: 'char_129',     cat: 'char' },
  { file: 'char_128',     cat: 'char' },
  { file: 'char_127',     cat: 'char' },
  { file: 'char_126',     cat: 'char' },
  { file: 'char_125',     cat: 'char' },
  { file: 'char_124',     cat: 'char' },
  { file: 'char_123',     cat: 'char' },
  { file: 'char_122',     cat: 'char' },
  { file: 'char_121',     cat: 'char' },
  { file: 'angel_80',     cat: 'angel' },
  { file: 'angel_79',     cat: 'angel' },
  { file: 'angel_78',     cat: 'angel' },
  { file: 'angel_77',     cat: 'angel' },
  { file: 'chaos_65',     cat: 'chaos' },
  { file: 'chaos_64',     cat: 'chaos' },
  { file: 'chaos_63',     cat: 'chaos' },
  { file: 'chaos_62',     cat: 'chaos' },
  { file: 'chaos_61',     cat: 'chaos' },
  { file: 'chaos_60',     cat: 'chaos' },
  { file: 'chaos_59',     cat: 'chaos' },
  { file: 'jitsusya_20',  cat: 'jitsusya' },
  { file: 'jitsusya_19',  cat: 'jitsusya' },
  { file: 'jitsusya_18',  cat: 'jitsusya' },
  { file: 'jitsusya_17',  cat: 'jitsusya' },
  { file: 'jitsusya_16',  cat: 'jitsusya' },
  { file: 'jitsusya_15',  cat: 'jitsusya' },
  { file: 'ipcd_16',      cat: 'ipcd' },
  // 新作 (2026-07-01 batch2)
  { file: 'char_120',     cat: 'char' },
  { file: 'char_119',     cat: 'char' },
  { file: 'char_118',     cat: 'char' },
  { file: 'char_117',     cat: 'char' },
  { file: 'char_116',     cat: 'char' },
  { file: 'char_115',     cat: 'char' },
  { file: 'char_114',     cat: 'char' },
  { file: 'char_113',     cat: 'char' },
  { file: 'char_112',     cat: 'char' },
  { file: 'char_111',     cat: 'char' },
  { file: 'char_110',     cat: 'char' },
  { file: 'char_109',     cat: 'char' },
  { file: 'char_108',     cat: 'char' },
  { file: 'char_107',     cat: 'char' },
  { file: 'char_106',     cat: 'char' },
  { file: 'char_105',     cat: 'char' },
  { file: 'char_104',     cat: 'char' },
  { file: 'char_103',     cat: 'char' },
  { file: 'char_102',     cat: 'char' },
  { file: 'char_101',     cat: 'char' },
  { file: 'char_100',     cat: 'char' },
  { file: 'char_99',      cat: 'char' },
  { file: 'char_98',      cat: 'char' },
  { file: 'char_97',      cat: 'char' },
  { file: 'char_96',      cat: 'char' },
  { file: 'char_95',      cat: 'char' },
  { file: 'char_94',      cat: 'char' },
  { file: 'char_93',      cat: 'char' },
  { file: 'char_92',      cat: 'char' },
  { file: 'char_91',      cat: 'char' },
  { file: 'char_90',      cat: 'char' },
  { file: 'char_89',      cat: 'char' },
  { file: 'char_88',      cat: 'char' },
  { file: 'char_87',      cat: 'char' },
  { file: 'angel_76',     cat: 'angel' },
  { file: 'angel_75',     cat: 'angel' },
  { file: 'angel_74',     cat: 'angel' },
  { file: 'angel_73',     cat: 'angel' },
  { file: 'angel_72',     cat: 'angel' },
  { file: 'angel_71',     cat: 'angel' },
  { file: 'angel_70',     cat: 'angel' },
  { file: 'angel_69',     cat: 'angel' },
  { file: 'angel_68',     cat: 'angel' },
  { file: 'angel_67',     cat: 'angel' },
  { file: 'jitsusya_14',  cat: 'jitsusya' },
  { file: 'jitsusya_13',  cat: 'jitsusya' },
  { file: 'jitsusya_12',  cat: 'jitsusya' },
  { file: 'jitsusya_11',  cat: 'jitsusya' },
  { file: 'chaos_54',     cat: 'chaos' },
  { file: 'chaos_53',     cat: 'chaos' },
  { file: 'chaos_52',     cat: 'chaos' },
  { file: 'chaos_51',     cat: 'chaos' },
  { file: 'chaos_50',     cat: 'chaos' },
  { file: 'chaos_49',     cat: 'chaos' },
  { file: 'chaos_48',     cat: 'chaos' },
  { file: 'chaos_47',     cat: 'chaos' },
  { file: 'chaos_46',     cat: 'chaos' },
  { file: 'chaos_45',     cat: 'chaos' },
  { file: 'jitsusya_10',  cat: 'jitsusya' },
  { file: 'landscape_09', cat: 'landscape' },
  { file: 'landscape_08', cat: 'landscape' },
  { file: 'jitsusya_09',  cat: 'jitsusya' },
  { file: 'jitsusya_08',  cat: 'jitsusya' },
  { file: 'jitsusya_07',  cat: 'jitsusya' },
  { file: 'jitsusya_06',  cat: 'jitsusya' },
  { file: 'jitsusya_05',  cat: 'jitsusya' },
  { file: 'ipcd_15',      cat: 'ipcd' },
  { file: 'ipcd_14',      cat: 'ipcd' },
  // 新作 (2026-07-01)
  { file: 'angel_66',  cat: 'angel' },
  { file: 'angel_65',  cat: 'angel' },
  { file: 'angel_64',  cat: 'angel' },
  { file: 'angel_63',  cat: 'angel' },
  { file: 'angel_62',  cat: 'angel' },
  { file: 'angel_61',  cat: 'angel' },
  { file: 'angel_60',  cat: 'angel' },
  { file: 'angel_59',  cat: 'angel' },
  { file: 'angel_58',  cat: 'angel' },
  { file: 'angel_57',  cat: 'angel' },
  { file: 'angel_56',  cat: 'angel' },
  { file: 'angel_55',  cat: 'angel' },
  { file: 'angel_54',  cat: 'angel' },
  { file: 'angel_53',  cat: 'angel' },
  { file: 'angel_52',  cat: 'angel' },
  { file: 'angel_51',  cat: 'angel' },
  { file: 'angel_50',  cat: 'angel' },
  { file: 'angel_49',  cat: 'angel' },
  { file: 'angel_48',  cat: 'angel' },
  { file: 'angel_47',  cat: 'angel' },
  { file: 'angel_46',  cat: 'angel' },
  { file: 'angel_45',  cat: 'angel' },
  { file: 'angel_44',  cat: 'angel' },
  { file: 'angel_43',  cat: 'angel' },
  { file: 'angel_42',  cat: 'angel' },
  { file: 'angel_41',  cat: 'angel' },
  { file: 'char_86',   cat: 'char' },
  { file: 'char_85',   cat: 'char' },
  { file: 'char_84',   cat: 'char' },
  { file: 'char_83',   cat: 'char' },
  { file: 'char_82',   cat: 'char' },
  { file: 'char_81',   cat: 'char' },
  { file: 'char_80',   cat: 'char' },
  { file: 'char_79',   cat: 'char' },
  { file: 'char_78',   cat: 'char' },
  { file: 'char_77',   cat: 'char' },
  { file: 'char_76',   cat: 'char' },
  { file: 'char_75',   cat: 'char' },
  { file: 'char_74',   cat: 'char' },
  { file: 'chaos_43',  cat: 'chaos' },
  { file: 'chaos_42',  cat: 'chaos' },
  { file: 'chaos_41',  cat: 'chaos' },
  { file: 'chaos_40',  cat: 'chaos' },
  { file: 'chaos_39',  cat: 'chaos' },
  { file: 'chaos_38',  cat: 'chaos' },
  { file: 'chaos_37',  cat: 'chaos' },
  { file: 'chaos_36',  cat: 'chaos' },
  { file: 'chaos_35',  cat: 'chaos' },
  { file: 'chaos_34',  cat: 'chaos' },
  { file: 'chaos_33',  cat: 'chaos' },
  { file: 'chaos_32',  cat: 'chaos' },
  { file: 'chaos_31',  cat: 'chaos' },
  { file: 'chaos_30',  cat: 'chaos' },
  { file: 'chaos_29',  cat: 'chaos' },
  { file: 'chaos_28',  cat: 'chaos' },
  { file: 'chaos_27',  cat: 'chaos' },
  { file: 'chaos_26',  cat: 'chaos' },
  { file: 'chaos_25',  cat: 'chaos' },
  // 広告・商用
  { file: 'ipcd_01',  cat: 'ipcd' },
  { file: 'ipcd_02',  cat: 'ipcd' },
  { file: 'ipcd_03',  cat: 'ipcd' },
  { file: 'ipcd_04',  cat: 'ipcd' },
  { file: 'ipcd_05',  cat: 'ipcd' },
  { file: 'ipcd_06',  cat: 'ipcd' },
  { file: 'ipcd_07',  cat: 'ipcd' },
  { file: 'ipcd_08',  cat: 'ipcd' },
  { file: 'ipcd_09',  cat: 'ipcd' },
  { file: 'ipcd_10',  cat: 'ipcd' },
  { file: 'ipcd_11',  cat: 'ipcd' },
  { file: 'ipcd_12',  cat: 'ipcd' },
  { file: 'ipcd_13',  cat: 'ipcd' },
  // 新作 (2026-03-20まで)
  { file: 'char_69',      cat: 'char' },
  { file: 'char_68',      cat: 'char' },
  { file: 'char_67',      cat: 'char' },
  { file: 'char_66',      cat: 'char' },
  { file: 'char_65',      cat: 'char' },
  { file: 'char_64',      cat: 'char' },
  { file: 'char_63',      cat: 'char' },
  { file: 'char_62',      cat: 'char' },
  { file: 'char_61',      cat: 'char' },
  { file: 'char_60',      cat: 'char' },
  { file: 'char_59',      cat: 'char' },
  { file: 'char_58',      cat: 'char' },
  { file: 'char_57',      cat: 'char' },
  { file: 'char_56',      cat: 'char' },
  { file: 'char_55',      cat: 'char' },
  { file: 'char_54',      cat: 'char' },
  { file: 'char_53',      cat: 'char' },
  { file: 'char_52',      cat: 'char' },
  { file: 'char_51',      cat: 'char' },
  { file: 'char_50',      cat: 'char' },
  { file: 'char_49',      cat: 'char' },
  { file: 'char_48',      cat: 'char' },
  { file: 'char_47',      cat: 'char' },
  { file: 'char_46',      cat: 'char' },
  { file: 'char_45',      cat: 'char' },
  { file: 'char_44',      cat: 'char' },
  { file: 'char_43',      cat: 'char' },
  { file: 'char_42',      cat: 'char' },
  { file: 'char_41',      cat: 'char' },
  { file: 'char_40',      cat: 'char' },
  { file: 'angel_39',     cat: 'angel' },
  { file: 'angel_38',     cat: 'angel' },
  { file: 'angel_37',     cat: 'angel' },
  { file: 'angel_36',     cat: 'angel' },
  { file: 'angel_35',     cat: 'angel' },
  { file: 'angel_34',     cat: 'angel' },
  { file: 'angel_33',     cat: 'angel' },
  { file: 'angel_32',     cat: 'angel' },
  { file: 'angel_31',     cat: 'angel' },
  { file: 'angel_30',     cat: 'angel' },
  { file: 'angel_29',     cat: 'angel' },
  { file: 'angel_28',     cat: 'angel' },
  { file: 'angel_27',     cat: 'angel' },
  { file: 'angel_26',     cat: 'angel' },
  { file: 'angel_25',     cat: 'angel' },
  { file: 'angel_24',     cat: 'angel' },
  { file: 'angel_23',     cat: 'angel' },
  { file: 'angel_22',     cat: 'angel' },
  { file: 'angel_21',     cat: 'angel' },
  { file: 'angel_20',     cat: 'angel' },
  { file: 'angel_19',     cat: 'angel' },
  { file: 'angel_18',     cat: 'angel' },
  { file: 'angel_17',     cat: 'angel' },
  { file: 'angel_16',     cat: 'angel' },
  { file: 'angel_15',     cat: 'angel' },
  { file: 'angel_14',     cat: 'angel' },
  { file: 'angel_13',     cat: 'angel' },
  { file: 'angel_12',     cat: 'angel' },
  { file: 'angel_11',     cat: 'angel' },
  { file: 'angel_10',     cat: 'angel' },
  { file: 'angel_09',     cat: 'angel' },
  { file: 'angel_08',     cat: 'angel' },
  { file: 'angel_07',     cat: 'angel' },
  { file: 'angel_06',     cat: 'angel' },
  { file: 'angel_05',     cat: 'angel' },
  { file: 'angel_04',     cat: 'angel' },
  { file: 'chaos_15',     cat: 'chaos' },
  { file: 'chaos_14',     cat: 'chaos' },
  { file: 'chaos_13',     cat: 'chaos' },
  { file: 'chaos_24',     cat: 'chaos' },
  { file: 'chaos_23',     cat: 'chaos' },
  { file: 'chaos_22',     cat: 'chaos' },
  { file: 'chaos_21',     cat: 'chaos' },
  { file: 'angel_40',     cat: 'angel' },
  { file: 'chaos_20',     cat: 'chaos' },
  { file: 'jitsusya_04',  cat: 'jitsusya' },
  // 旧作 (2026-02-05まで)
  { file: 'char_39',      cat: 'char' },
  { file: 'char_33',      cat: 'char' },
  { file: 'char_38',      cat: 'char' },
  { file: 'char_32',      cat: 'char' },
  { file: 'char_34',      cat: 'char' },
  { file: 'char_31',      cat: 'char' },
  { file: 'char_30',      cat: 'char' },
  { file: 'char_29',      cat: 'char' },
  { file: 'landscape_07', cat: 'landscape' },
  { file: 'char_28',      cat: 'char' },
  { file: 'char_27',      cat: 'char' },
  { file: 'char_26',      cat: 'char' },
  { file: 'chaos_12',     cat: 'chaos' },
  { file: 'char_25',      cat: 'char' },
  { file: 'char_24',      cat: 'char' },
  { file: 'chaos_19',     cat: 'chaos' },
  { file: 'char_23',      cat: 'char' },
  { file: 'char_22',      cat: 'char' },
  { file: 'char_21',      cat: 'char' },
  { file: 'char_73',      cat: 'char' },
  { file: 'char_20',      cat: 'char' },
  { file: 'char_19',      cat: 'char' },
  { file: 'chaos_11',     cat: 'chaos' },
  { file: 'char_18',      cat: 'char' },
  { file: 'char_17',      cat: 'char' },
  { file: 'char_16',      cat: 'char' },
  { file: 'char_37',      cat: 'char' },
  { file: 'chaos_18',     cat: 'chaos' },
  { file: 'char_15',      cat: 'char' },
  { file: 'char_14',      cat: 'char' },
  { file: 'char_13',      cat: 'char' },
  { file: 'chaos_10',     cat: 'chaos' },
  { file: 'char_72',      cat: 'char' },
  { file: 'chaos_09',     cat: 'chaos' },
  { file: 'char_12',      cat: 'char' },
  { file: 'char_36',      cat: 'char' },
  { file: 'char_35',      cat: 'char' },
  { file: 'char_11',      cat: 'char' },
  { file: 'char_10',      cat: 'char' },
  { file: 'char_71',      cat: 'char' },
  { file: 'chaos_08',     cat: 'chaos' },
  { file: 'char_09',      cat: 'char' },
  { file: 'char_08',      cat: 'char' },
  { file: 'chaos_17',     cat: 'chaos' },
  { file: 'chaos_07',     cat: 'chaos' },
  { file: 'char_07',      cat: 'char' },
  // 旧作品
  { file: 'chaos_01',     cat: 'chaos' },
  { file: 'char_01',      cat: 'char' },
  { file: 'char_02',      cat: 'char' },
  { file: 'landscape_01', cat: 'landscape' },
  { file: 'chaos_16',     cat: 'chaos' },
  { file: 'char_70',      cat: 'char' },
  { file: 'chaos_02',     cat: 'chaos' },
  { file: 'chaos_03',     cat: 'chaos' },
  { file: 'char_03',      cat: 'char' },
  { file: 'landscape_02', cat: 'landscape' },
  { file: 'angel_01',     cat: 'angel' },
  { file: 'angel_02',     cat: 'angel' },
  { file: 'landscape_03', cat: 'landscape' },
  { file: 'char_04',      cat: 'char' },
  { file: 'angel_03',     cat: 'angel' },
  { file: 'char_05',      cat: 'char' },
  { file: 'chaos_04',     cat: 'chaos' },
  { file: 'landscape_04', cat: 'landscape' },
  { file: 'landscape_05', cat: 'landscape' },
  { file: 'chaos_05',     cat: 'chaos' },
  { file: 'chaos_06',     cat: 'chaos' },
  { file: 'landscape_06', cat: 'landscape' },
  { file: 'char_06',      cat: 'char' },
  { file: 'jitsusya_01',  cat: 'jitsusya' },
];
---

<Layout title="GALLERY | 輪廻タヲ" description="輪廻タヲのイラスト・キャラクター・風景作品ギャラリー。カテゴリ別に一覧・拡大表示できます。">
  <div class="pt-24 pb-16 px-5 md:px-28 min-h-screen">

    <div class="py-12 mb-8">
      <h1 class="font-mincho text-text-primary text-3xl font-light tracking-[0.3em]">Gallery</h1>
    </div>

    <!-- カテゴリフィルター -->
    <div class="flex flex-wrap gap-x-6 gap-y-2 mb-10 text-[11px] tracking-[0.25em] font-light">
      {categories.map((cat, i) => (
        <button
          data-cat={cat.id}
          class:list={['filter-btn pb-px transition-colors duration-300', i === 0 ? 'text-text-primary border-b border-text-primary' : 'text-text-faint hover:text-text-muted']}
        >
          {cat.label}
        </button>
      ))}
    </div>

    <!-- ギャラリー -->
    <div id="gallery-grid" class="columns-2 md:columns-3 lg:columns-4 gap-1 space-y-1"></div>

    <!-- 無限スクロール sentinel -->
    <div id="sentinel" class="h-16"></div>

  </div>
</Layout>

<!-- Lightbox -->
<div id="lightbox" class="fixed inset-0 z-50 hidden items-center justify-center bg-black/90" role="dialog" aria-modal="true">
  <div class="absolute top-4 left-1/2 -translate-x-1/2 text-white/70 text-[12px] tracking-wider text-center whitespace-nowrap pointer-events-none">画像をタップで一覧に戻ります</div>
  <button id="lb-prev" class="absolute left-3 top-1/2 -translate-y-1/2 z-10 w-10 h-10 rounded-full bg-white/10 hover:bg-white/20 flex items-center justify-center text-white/70 hover:text-white transition-all" aria-label="前へ">
    <svg width="10" height="16" viewBox="0 0 10 16" fill="none"><polyline points="8,2 2,8 8,14" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/></svg>
  </button>
  <button id="lb-next" class="absolute right-3 top-1/2 -translate-y-1/2 z-10 w-10 h-10 rounded-full bg-white/10 hover:bg-white/20 flex items-center justify-center text-white/70 hover:text-white transition-all" aria-label="次へ">
    <svg width="10" height="16" viewBox="0 0 10 16" fill="none"><polyline points="2,2 8,8 2,14" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/></svg>
  </button>
  <div id="lb-swipe-area" class="relative w-full h-full overflow-hidden touch-pan-y">
  <div id="lb-track" class="w-full h-full flex">
    <div class="w-full h-full shrink-0 flex items-center justify-center">
      <img id="lb-img-prev" src="" alt="" class="max-h-[90vh] max-w-[90vw] object-contain select-none pointer-events-none" />
    </div>
    <div class="w-full h-full shrink-0 flex items-center justify-center">
      <img id="lb-img" src="" alt="" class="max-h-[90vh] max-w-[90vw] object-contain select-none" />
    </div>
    <div class="w-full h-full shrink-0 flex items-center justify-center">
      <img id="lb-img-next" src="" alt="" class="max-h-[90vh] max-w-[90vw] object-contain select-none pointer-events-none" />
    </div>
  </div>
  </div>
  <div id="lb-filename" class="absolute bottom-4 left-1/2 -translate-x-1/2 text-white/40 text-[10px] font-mono tracking-wider"></div>
</div>

<!-- ページトップへ戻る -->
<button id="back-to-top" class="hidden fixed bottom-10 right-8 z-30 w-14 h-14 rounded-full bg-black/70 backdrop-blur-sm border border-white/10 items-center justify-center text-white/70 hover:text-white hover:bg-black/85 transition-all duration-300" aria-label="ページトップへ戻る">
  <svg width="18" height="18" viewBox="0 0 14 14" fill="none"><polyline points="2,9 7,4 12,9" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/></svg>
</button>

<script define:vars={{ works }}>
  const BATCH = 48;
  const grid = document.getElementById('gallery-grid');
  const sentinel = document.getElementById('sentinel');
  const btns = document.querySelectorAll('.filter-btn');

  let currentCat = 'all';
  let filtered = [];
  let rendered = 0;

  // ===== アイテム生成 =====
  function makeItem(w) {
    const div = document.createElement('div');
    div.className = 'gallery-item break-inside-avoid overflow-hidden group cursor-pointer relative';
    div.dataset.cat = w.cat;
    div.dataset.src = `/gallery/${w.file}.webp`;
    div.dataset.file = w.file;

    const img = document.createElement('img');
    img.src = `/gallery/${w.file}.webp`;
    img.alt = '';
    img.loading = 'lazy';
    img.className = 'w-full block transition-transform duration-700 group-hover:scale-[1.03]';

    const label = document.createElement('div');
    label.className = 'absolute bottom-0 left-0 right-0 px-2 py-1 bg-black/60 text-white/70 text-[10px] font-mono tracking-wider opacity-0 group-hover:opacity-100 transition-opacity duration-200 pointer-events-none';
    label.textContent = w.file;

    div.appendChild(img);
    div.appendChild(label);
    div.addEventListener('click', () => openLightbox(rendered > 0 ? grid.querySelectorAll('.gallery-item') : [], div));
    return div;
  }

  // ===== バッチ追加 =====
  function loadMore() {
    const batch = filtered.slice(rendered, rendered + BATCH);
    if (batch.length === 0) {
      io.unobserve(sentinel);
      return;
    }
    const frag = document.createDocumentFragment();
    batch.forEach(w => frag.appendChild(makeItem(w)));
    grid.appendChild(frag);
    rendered += batch.length;
  }

  // ===== フィルター =====
  function applyFilter(cat) {
    currentCat = cat;
    filtered = cat === 'all' ? works : works.filter(w => w.cat === cat);
    rendered = 0;
    grid.innerHTML = '';
    btns.forEach(b => {
      const active = b.dataset.cat === cat;
      b.classList.toggle('text-text-primary', active);
      b.classList.toggle('border-b', active);
      b.classList.toggle('border-text-primary', active);
      b.classList.toggle('text-text-faint', !active);
    });
    io.observe(sentinel);
    loadMore();
  }

  // ===== IntersectionObserver =====
  const io = new IntersectionObserver(entries => {
    if (entries[0].isIntersecting) loadMore();
  }, { rootMargin: '200px' });

  btns.forEach(btn => btn.addEventListener('click', () => applyFilter(btn.dataset.cat)));

  const initCat = new URLSearchParams(window.location.search).get('cat') ?? 'all';
  applyFilter(initCat);

  // ===== Lightbox =====
  const lb = document.getElementById('lightbox');
  const lbSwipeArea = document.getElementById('lb-swipe-area');
  const lbTrack = document.getElementById('lb-track');
  const lbImg = document.getElementById('lb-img');
  const lbImgPrev = document.getElementById('lb-img-prev');
  const lbImgNext = document.getElementById('lb-img-next');
  const lbFilename = document.getElementById('lb-filename');
  let lbIndex = 0;

  function getRenderedItems() {
    return Array.from(grid.querySelectorAll('.gallery-item'));
  }

  function neighborSrc(offset) {
    const items = getRenderedItems();
    if (items.length === 0) return '';
    const idx = (lbIndex + offset + items.length) % items.length;
    return items[idx]?.dataset.src ?? '';
  }

  function resetTrack(instant) {
    lbTrack.style.transition = instant ? 'none' : 'transform 250ms ease-out';
    lbTrack.style.transform = 'translateX(-100%)';
  }

  function openLightbox(_, clickedEl) {
    const items = getRenderedItems();
    lbIndex = items.indexOf(clickedEl);
    showLb(items[lbIndex]);
    lb.classList.remove('hidden');
    lb.classList.add('flex');
    document.body.style.overflow = 'hidden';
  }

  function showLb(el) {
    lbImg.src = el.dataset.src;
    lbFilename.textContent = el.dataset.file ?? '';
    lbImgPrev.src = neighborSrc(-1);
    lbImgNext.src = neighborSrc(1);
    resetTrack(true);
  }

  function closeLightbox() {
    lb.classList.add('hidden');
    lb.classList.remove('flex');
    document.body.style.overflow = '';
  }

  function lbGo(delta) {
    const items = getRenderedItems();
    // 末尾付近でさらに読み込み
    if (lbIndex + delta >= items.length - 4 && rendered < filtered.length) {
      loadMore();
    }
    lbIndex = (lbIndex + delta + items.length) % items.length;
    showLb(getRenderedItems()[lbIndex]);
  }

  document.getElementById('lb-prev')?.addEventListener('click', () => lbGo(-1));
  document.getElementById('lb-next')?.addEventListener('click', () => lbGo(1));
  lb.addEventListener('click', e => { if (e.target === lb) closeLightbox(); });
  lbImg.addEventListener('click', closeLightbox);
  document.addEventListener('keydown', e => {
    if (lb.classList.contains('hidden')) return;
    if (e.key === 'Escape') closeLightbox();
    if (e.key === 'ArrowLeft') lbGo(-1);
    if (e.key === 'ArrowRight') lbGo(1);
  });

  // ===== ライトボックス スワイプ（指の動きに追従） =====
  let lbDragging = false;
  let lbDragStartX = 0;
  let lbDragStartY = 0;
  let lbDragDeltaX = 0;
  let lbAreaWidth = 0;

  lbSwipeArea.addEventListener('touchstart', e => {
    lbDragging = true;
    lbDragStartX = e.touches[0].clientX;
    lbDragStartY = e.touches[0].clientY;
    lbDragDeltaX = 0;
    lbAreaWidth = lbSwipeArea.clientWidth;
    lbTrack.style.transition = 'none';
  }, { passive: true });

  lbSwipeArea.addEventListener('touchmove', e => {
    if (!lbDragging) return;
    const dx = e.touches[0].clientX - lbDragStartX;
    const dy = e.touches[0].clientY - lbDragStartY;
    if (Math.abs(dy) > Math.abs(dx)) return;
    lbDragDeltaX = dx;
    lbTrack.style.transform = `translateX(calc(-100% + ${dx}px))`;
  }, { passive: true });

  lbSwipeArea.addEventListener('touchend', () => {
    if (!lbDragging) return;
    lbDragging = false;
    const threshold = lbAreaWidth * 0.15;
    if (Math.abs(lbDragDeltaX) > threshold) {
      const dir = lbDragDeltaX < 0 ? 1 : -1;
      lbTrack.style.transition = 'transform 250ms ease-out';
      lbTrack.style.transform = `translateX(${dir < 0 ? '0%' : '-200%'})`;
      setTimeout(() => lbGo(dir), 250);
    } else {
      resetTrack(false);
    }
  }, { passive: true });

  // ===== ページトップへ戻る =====
  const backToTop = document.getElementById('back-to-top');
  function toggleBackToTop() {
    const show = window.scrollY > 400;
    backToTop.classList.toggle('hidden', !show);
    backToTop.classList.toggle('flex', show);
  }
  window.addEventListener('scroll', toggleBackToTop, { passive: true });
  toggleBackToTop();
  backToTop.addEventListener('click', () => window.scrollTo({ top: 0, behavior: 'smooth' }));
</script>
